

<nav class = "navbar-inverse">
<div class = "container-fluid">
<div class = "navbar-header">
<a class = "navbar-brand" href = "/">Hello, Shubham</a>
</div>

<ul class = "nav navbar-nav">
<li class = "active"><a href="">View</a></li>
<li><a href = "">Add Student</a></li>
<li><a href = "">Add Stoppage</a></li>
</ul>

<ul class = "nav navbar-nav navbar-right">

<li><form class="navbar-form">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
  </form>
  </li>
 <li> <a href = ""><span class="glyphicon glyphicon-log-out"></span> LogOut</a>


</ul>
</div>
</nav>

<div class = "container">

<table class = "table table-hover">

<thead>
<tr>
<th>Id</th>
<th>Student Name</th>
<th>Adress</th>
<th>Contact</th>
<th>Stoppage</th>
<th>Username</th>
<th>Password</th>
</tr>
</thead>
<tbody>
<% @students.each do |student| %>
<tr>
<td><%= student.name %></td>
<td><%= student.studentId %></td>
<td><%= student.contact %></td>
<td><%= student.stoppage %></td>
<td><% if student.fees %>
				Paid
	<% else %>Not Paid
<% end %>
</td>
<% end %>
</tr>
</tbody>
</table>
</div>

